:host {
  position: relative;
}

.tab {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  height: 50px;
  background-color: black;
  > a {
    display: inline-block;
    width: 50%;
    height: 100%;
    color: #ffffff;
    text-align: center;
  }
}

